/*=========== brends ============*/
@import './style.scss';

.brends {
	background-color: #F8F8F8;
	padding: 15px 25px 15px 25px;
}

.brends-container {
	display: flex;
	flex-direction: column;
}


.brends__title {
	text-transform: uppercase;
	font-weight: 400;
	color: #7E7E82;
	font-size: 24px;
	margin: 24px 0 0 0;
	position: relative;
	z-index: 2;
}


.brends__list {

}

.brends__swiper-container {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.brends-swiper {}

.brends__swiper-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 1rem;
}

@media (min-width:767.98px) {
	.brends__swiper-list{
	display: flex;
	align-items: center;
	justify-content:flex-start;
	
	}
}

@media (max-width:767.97px) {
	.brends__swiper-list {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: flex-start;
		margin-bottom: 1rem;
	}
}

.swiper-wrapper {}

.brends__swiper-list  .swiper-slide{
	max-width: 240px;
	min-width: 240px;
	margin-right: 15px !important;
}
@media (min-width:767.98px) {
	.brends__swiper-list  .swiper-slide{
		min-width: 223px;
		max-width: 223px;
        margin-right: 24px;
	}
}
@media (min-width:1439.98px) {
	.brends__swiper-list  .swiper-slide{
		max-width: 240px;
		min-width: 240px;
        margin-right: 32px;
		height: auto;
	}
}

.brends__swiper-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #FFFFFF;
	max-width: 240px;
	max-height: 72px;
	padding: 1rem;
	margin: 2rem 0 0 0;
    border-radius: 5px;
}
@media (min-width: 767.98px) {
	.brends__swiper-item{
		display: none;
		min-width: 223px;
		max-width: 223px;
	}
}
@media (min-width:911.98px) {
	.brends__swiper-item:last-child{
	display: none;
	}
}
@media (min-width:1215px) {
	.brends__swiper-item {
		display:none ;
	}
}
@media (min-width:1439.98px) {
	.brends__swiper-item {
		min-width: 240px;
		max-width: 240px;

	
	}
}

.brends__swiper-item:not(:last-child) {

	
}

.brends__swiper-icon{
    align-self: center;
}


.swiper-slide {}

.repair__text {}

.brends__swiper-button {
	align-self: center;
    background-color: #FFFFFF;
	margin-top:auto;
}
.brends__swiper-button::before {
    content: url('../img/go-btn.svg');
	align-self: flex-end;
    height: 40px;
    width: 40px;
}
.brends__swiper-button:hover {
    transform: scale(1.1);
}

.btn-swiper {}

.brends__buttons-container {
	margin: 2rem 0 2rem 0;
	display: flex;
	position: relative;
}

@media (max-width: 767.98px) {
	.brends__buttons-container {
		display: none;
	}
}
@media (min-width:1215px) {
	.brends__buttons-container {
		
	}
}

.brends__btn-more {
	position: relative;
	display: block;
	margin: 0 0 0 2rem;
}

.brends__btn-more::before {
	content: url('../img/strelochki.svg');
	display: inherit;
	position: absolute;
	top: 0;
	left: -2rem;
	
}

.brends__btn-less {
	position: relative;
	display: none;
	margin: 0 0 0 2rem;
}
.brends__btn-less::before {
	content: url('../img/strelochki.svg');
	transform: rotate(180deg);
	display: inherit;
	position: absolute;
	top: 0;
	left: -2rem;
}


.brends__buttons-container .brends__button-more {
	position: relative;
	display: block;
	margin: 0 0 0 2rem;
}
.brends__buttons-container .brends__button-more::before {
	content: url('../img/strelochki.svg');
	display: inherit;
	position: absolute;
	top: 0;
	left: -2rem;
}

.brends__buttons-container .brends__button-less {
	position: relative;
	display: none ;
	margin: 0 0 0 2rem;
}
.brends__buttons-container .brends__button-less::before {
	content: url('../img/strelochki.svg');
	transform: rotate(180deg);
	display: inherit;
	position: absolute;
	top: 0;
	left: -2rem;
}

/*  animation btn   */
.brends-swiper__item .brends-swiper__button:hover{
	transition:all 1.5s;
	transform: rotate(360deg);
	transform: scale(1);
}
/* pagination */
.swiper-pagination{
	bottom: -1rem !important;
}