/*=========== brends ============*/
@import './style.scss';

.brends {
	background-color: #F8F8F8;
	padding: 15px 25px 15px 25px;
}

.brends-container {
	display: flex;
	flex-direction: column;
}


.brends__title {
	text-transform: uppercase;
	font-weight: 400;
	color: #7E7E82;
	font-size: 24px;
	margin: 24px 0 0 0;
	position: relative;
	z-index: 2;
}


.brends__list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 2rem;
	gap: 1rem;
	justify-content: flex-start;
}

@media (max-width: 767.98px) {
	.brends__list {
		display: none;
	}
}

.brends__item {
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
	padding: 1rem;
	min-width: 240px;
	height: 72px;
	border-radius: 5px;

}
@media (min-width:767.98px) {
	.brends__item {
		min-width: 223px;

	
	}
}
@media (min-width:1439.98px) {
	.brends__item {
		min-width: 240px;

	
	}
}

@media (min-width: 767.98px) {
	.brends__item {
		display: none;
		/*display: flex ;*/
	}
}



/*========      SWIPER   BRENDS  ===============*/
.brends__swiper-list {
	display: none;
}

@media (max-width: 767.97px) {
	.brends__swiper-list {
		position: relative;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		height: 100px;
		align-items: center;
		align-content: center;
		margin-top: 2rem;
	}

	.brends-swiper__swiper-wripper {

	}

	.brends-swiper__item {
		display: flex;
		justify-content: space-between;
		background-color: #ffffff;
		padding: 1rem;
		min-width: 240px;
		max-width: 240px;
		height: 72px;
		border-radius: 5px;


	}

	.brends-swiper__icon {
		align-self: center;
	}
}

.swiper-wraper {
	

}

.swiper-pagination {
	bottom: -16px !important;

}

.swiper-pagination .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	line-height: 20px;
	font-size: 14px;
	background: #dddddd;
}

.brends__list--swiper .swiper-slide {
	min-width: 240px;
	max-width: 240px;
}

.brends__button-item {
	background-image: url('../img/go-btn.svg');
	background-repeat: no-repeat;
	background-color: #ffffff;
	width: 40px;
	height: 40px;
	text-decoration: none;
	text-align: center;
}
/*================================================*/


.brends__icon {
	align-self: center;
}

.brends-swiper__button {
	background-image: url('../img/go-btn.svg');
	background-repeat: no-repeat;
	background-color: #ffffff;
	width: 40px;
	height: 40px;
	text-decoration: none;
	text-align: center;
	display: block;
}

.btn-swiper {
	background-image: url('../img/go-btn.svg');
	background-repeat: no-repeat;
	background-color: #ffffff;
	width: 40px;
	height: 40px;
	text-decoration: none;
	text-align: center;
}


.brends__buttons-container {
	margin: 2rem 0 1rem 0;
	display: flex;
	position: relative;
}

@media (max-width: 767.98px) {
	.brends__buttons-container {
		display: none;
	}
}

.brends__buttons-container .brends__button-more {
	position: relative;
	display: block;
	margin: 0 0 0 2rem;
}
.brends__buttons-container .brends__button-more::before {
	content: url('../img/strelochki.svg');
	display: inherit;
	position: absolute;
	top: 0;
	left: -2rem;
}

.brends__buttons-container .brends__button-less {
	position: relative;
	display: none ;
	margin: 0 0 0 2rem;
}
.brends__buttons-container .brends__button-less::before {
	content: url('../img/strelochki.svg');
	transform: rotate(180deg);
	display: inherit;
	position: absolute;
	top: 0;
	left: -2rem;
}

/*  animation btn   */
.brends-swiper__item .brends-swiper__button:hover{
	transition:all 1.5s;
	transform: rotate(360deg);
	transform: scale(1);
}
