/*==================section==================*/
@import './style.scss';

.comment {
	padding: 0;
	display: flex;
	flex-direction: column;
}

@media (min-width:766.98px) {
	.comment {
		flex-direction: row;
	}
}

.comment__container {
	margin: 0 0 0 15px;
	flex: 1 1 50%;
}

@media (min-width:766.97px) {
	.comment__container {
		flex: 1 3 100%;
		margin: 0 25px 0 25px;
	}
}

@media (min-width:1119.97px) {
	.comment__container {
		flex: 1 3 100%;
		margin: 0 35px 0 35px;
	}
}

.comment__promo-text {
	display: inline-block;
	line-height: 18px;
	color: #1B1C21;
}

.text-768px {
	display: none;
	margin: 1rem 0 0 0;
}

@media (min-width:767.97px) {
	.text-768px {
		display: inline-block;
	}
}

.text-1120px {
	display: none;
	
}

@media (min-width:1119.97px) {
	.text-1120px {
		display: inline;
	}
}
.text-1120px-more{
	display: none ;
	margin-top: 1rem;
}


.comment__read-btns {
	margin: 25px 0;
	display: flex;
}

.read-more__icon {}

.read-btns__text-more {
	display: block;
	margin-left: 15px;
	font-weight: 400;
	color: #1B1C21;
	position: relative;
	
}
.read-btns__text-more::before {
content: url(../img/strelochki.svg);
position: absolute;
left: -1rem;
top: 0;
display: inherit;
}
.read-btns__text-less{
	margin-left: 15px;
	font-weight: 400;
	color: #1B1C21;
	display: none;
	position: relative;
}
.read-btns__text-less::before {
	content: url(../img/strelochki.svg);
	transform: rotate(180deg);
	position: absolute;
	left: -1rem;
	top: 0;
	display: inherit;
	}

.btns-text-anim::after{
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	padding: 0 0;
	max-width: 0;
	border-bottom: 2px solid rgb(0, 0, 0);
	color: #1B1C21;
	content: attr(data-hover);
	transition: max-width 0.5s;
	white-space: nowrap;
	}
	.btns-text-anim:hover::after,
	.btns-text-anim:focus::after{
		max-width: 100%;
	}

/*==Picture=*/
.picture-CPS {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:100vw;
}
@media (min-width:766.99px) {
	.picture-CPS{
		margin-left: auto;
		margin-right: auto;
		width:calc(100vw/2);
	}
}
@media (min-width:1439.98px) {
	.picture-CPS{
		margin-left: auto;
		margin-right: auto;
		width: 85%;
	}
}

.comment__pic-container{
	object-fit: cover;
    object-position: 50% 50%;
}

@media (min-width:766.99px) {
	.comment__pic-container {
		flex: 1 1 50%;
		margin: 0 25px 0 0;
	}
}

@media (min-width:1119.97px) {
	.comment__pic-container {
		flex: 1 0 50%;
		margin: 0 35px 0 0;
	}
}
