
/*================= HEADER  ===================*/
@import './style.scss';

.header {
	display: flex;
	height: 0px;
	padding: 0px 10px 0 15px;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

@media (max-width:1439.97px) {
	.header {
		height: 88px;
		padding: 0px 25px 0 25px;
	}
}
@media (min-width:1439.98px) {
	.header {
	display:none;
	}
}
@media (max-width:401px) {
	.header {
		height: 88px;
		padding: 0px 1rem  0 1rem;
	}
}

.header__burger-button {
	margin-right: 20px;
	background-color: inherit;
	position: relative;
}
@media (max-width:401px) {
	.header__burger-button {
		margin-right: 1rem;
		background-color: inherit;
		position: relative;
	}
}

@media (min-width:401px) {
	.header__burger-button::after {
		content: '';
		position: absolute;
		height: 32px;
		border: 1px solid #EAEAEA;
		top: 5px;
		right: -20px;
	}
}
@media (min-width:1439.98px) {
	.header__burger-button::after {
		display: none;

	}

}


.icon__burger {
	display: block;
}

@media (min-width:1118.97px) {
	.icon__burger {
		display: none;
	}

}

/*===================LOGO===================*/
.logo__link-logo {
	align-items: center;
	justify-content: center;
	margin-left: 20px;
}
@media (max-width:401px) {
	.logo__link-logo {
		align-items: center;
		justify-content: center;
		margin-left: 0px;
	}
	
}

.logo {
	flex: 1 0 97px;
}
.header__screen-768-container{
	display: none;
}
@media (min-width:767.98px) {
	.header__screen-768-container{
		display: block;
		margin: 0 40px 0 25px;
		position: relative;
	}
}
@media (min-width:767.98px) {
	.header__screen-768-container::after{
		content: '';
		position: absolute;
		height: 32px;
		border: 1px solid #EAEAEA;
		top: 5px;
		right: -20px;
	}
}
@media (min-width:1439.98px) {
	.header__screen-768-container{
		/*
		position: absolute;
		right: 15px;
		*/
		display: none;
	}
}
@media (min-width:1439.98px) {
	.header__screen-768-container{
display: none;
	}
}
@media (max-width:767.98px) {
	.icon-768px {
		display: none;
	}
}

.header__icon-order-call {}

.header__icon-chat {}

.header__icon-profile {}

.header_repair-icon{

}
@media (min-width:1439.98px) {
	.header__icon-repair {
		display: none;
	}
}
.header__repair-icon{
	display: block;
	position: relative;
}
@media (max-width:401px) {
	.header__repair-icon::before{
		content: '';
		position: absolute;
		height: 32px;
		border: 1px solid #EAEAEA;
		top: 5px;
		left: -20px;
	}
	
}

.header__check-status-icon {}
@media (min-width:1439.98px) {
	.header__check-status-icon {
		display: none;
	}
}


.icon {
	width: 40px;
	height: 40px;
}

.header__button:not(:last-child) {
	margin-right: 20px;
}
@media (max-width:401px) {
	.header__button:not(:last-child) {
		margin-right: 1rem;
	}
}

@media (min-width:1439.98px) {
	.header__button:not(:last-child) {
		margin-right: 20px;
	}
}
/*===============divide lines=================*/
@media (min-width:766.99px) {
	.divide-line--first {
		display: block;
		height: 32px;
		border: 1px solid #EAEAEA;
		margin: 0 20px 0 0;
	}
}

@media (min-width:1119.99px) {
	.divide-line--first {
		display: none;
		height: 32px;
		border: 1px solid #EAEAEA;
		margin: 0 20px 0 0;
	}
}


@media (max-width:1119.98px) {
	.divide-line--second {
		display: block;
		height: 32px;
		border: 1px solid #EAEAEA;
		margin: 0 20px 0 0px;
	}
}
@media (max-width:767.99px) {
	.divide-line--second {
		display: none;

	}
}

/* hover */
.header button:hover {
	transform: scale(1.1);
}
.header .header__burger-button:hover{
	transform: scale(1);
}
.icon-of-burger{
transition: all 0.5s ease;
transform: rotate(0deg)
}

.icon-of-burger:hover {
animation: move 2s infinite ease-in-out;
}

@keyframes move {
0% {
  transform: rotate(0deg);
  
}
40% {
  transform: rotate(180deg);
  border-radius: 50%;
}
80% {
  transform: rotate(0deg);
 
}
100%{
	transform: rotate(0deg);
}
}
.icon-of-burger:hover{
	transition: 1s ease-in ;
	transform: rotate(360deg);
}
