
/*================= HEADER  ===================*/
@import './style.scss';

.header {
	display: flex;
	height: 0px;
	padding: 0px 10px 0 15px;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

@media (max-width:1439.97px) {
	.header {
		height: 88px;
		padding: 0px 25px 0 25px;
	}
}

.header__burger-button {
	margin-right: 20px;
	background-color: inherit;
}

.icon__burger {
	display: block;
}

@media (min-width:1118.97px) {
	.icon__burger {
		display: none;
	}

}

/*===================LOGO===================*/
.header__logo-container {
	align-items: center;
	justify-content: center;
}

.logo {
	flex: 1 0 97px;
}
.header__screen-768-container{
	display: none;
}
@media (min-width:766.98px) {
	.header__screen-768-container{
		display: block;
		margin: 0 25px 0 25px;
	}
}
@media (min-width:1119.98px) {
	.header__screen-768-container{
		position: absolute;
		right: 15px;
	}
}
@media (min-width:1439.98px) {
	.header__screen-768-container{
display: none;
	}
}
@media (max-width:766.98px) {
	.icon-768px {
		display: none;
	}
}

.header__icon-order-call {}

.header__icon-chat {}

.header__icon-profile {}

.header_repair-icon{

}
@media (min-width:1119.98px) {
	.header__icon-repair {
		display: none;
	}
}


.header_check-staus-icon {}
@media (min-width:1119.98px) {
	.header_check-staus-icon {
		display: none;
	}
}


.icon {
	width: 40px;
	height: 40px;
}

.header__button:not(:last-child) {
	margin-right: 20px;
}
@media (min-width:1119.98px) {
	.header__button:not(:last-child) {
		margin-right: 20px;
	}
}
/*===============divide lines=================*/
@media (min-width:766.99px) {
	.divide-line--first {
		display: block;
		height: 32px;
		border: 1px solid #EAEAEA;
		margin: 0 20px 0 0;
	}
}

@media (min-width:1119.99px) {
	.divide-line--first {
		display: none;
		height: 32px;
		border: 1px solid #EAEAEA;
		margin: 0 20px 0 0;
	}
}


@media (max-width:1119.99px) {
	.divide-line--second {
		display: block;
		height: 32px;
		border: 1px solid #EAEAEA;
		margin: 0 20px 0 0px;
	}
}
@media (max-width:767.99px) {
	.divide-line--second {
		display: none;

	}
}

/* hover */
.header button:hover {
	transform: scale(1.1);
}
