/* prices section */
@import './style.scss';

@media (min-width:767.99px) {
	

    .prices {
        display: flex;
        flex-direction: column;
        margin: 2rem 1rem 5rem 2rem;
    }
    
    .prices__title {
        text-transform: uppercase;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 24px;
        color: #7E7E82;
        margin-bottom: 2rem;
    }
    
    .prices__list {
        display: flex;
        flex-direction: column;
    }
    
    .prices__item {
        display: flex;
        position: relative;
        padding: 1rem;
        align-items: center;
        background-color: #FFFFFF;
    
    }
    
    .prices__item--discription {
        background-color: #F8F8F8;
    }
    
    
    .prices__item::after {
        content: "";
        bottom: 0;
        position: absolute;
        border: 1px solid #EAEAEA;
        width: 97%;
        z-index: 5;
    }
    
    .prices__name {
        flex: 1 0 50%;
    
    }
    
    .prices__info {
        flex: 1 1 50%;
        display: flex;
        justify-content: space-between;
    }
    
    .prices__price {
        text-align: center;
    }
    
    .prices__working-time {}
    
    .prices__btn-order {
        position: relative;
        justify-content: center;
        align-self: flex-end;
        width: 120px;
        background-color: #FF3E79;
        border-radius: 20px;
        padding: 0.5rem;
        color: white;
        text-transform: uppercase;
        font-size: 12px;
    }
    .prices__btn-order::after{
        content: url(../img/dropdown.svg);
        position: absolute;
        right:14px;
        bottom: 7px;
    }
    
    .prices__btn-order--discription {
        background-color: inherit;
    }
    
    .prices__post-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 2rem;
    }
    
    .prices__promo-agreement {
        width: 50%;
        
    }
    
    .prices__btn-get-offer {
        position: relative;
        margin-top: 2rem;
        align-self: flex-start;
        background-color: inherit;
    }
    
    .prices__btn-get-offer::after {
        content:url(../img/Line.svg);
        right: -0.9rem;
        bottom: 0;
        position: absolute;
        
    }
    .price-swiper{
        display: none;
    }
    }
    /* media max-width: 767.98px  */
    @media (max-width:767.98px) {
        .prices{
            display: none;
        }
        .price-swiper{
            margin: 2rem 1rem 0 2rem;
        }
        .prices__title-swiper{
            color: #7E7E82;
            font-weight: 400;
        }
        .prices__list-swiper{
            
            position: relative;
        }
        .prices__item-swiper.swiper-slide {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 260px;
        }
        .prices__item-swiper {
            display: flex;
            flex-direction: column;
            width: 260px;
            height: auto;
            background-color: #FFFFFF;
            margin: 1rem 0 1rem 0;
            padding: 1rem;
        }
        .prices_item-top{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            margin: 0 0 1.5rem 0;
        }
        .prices__name-swiper {
            color: #7E7E82;
        }
        .prices__name-swiper--text{
           
        }
        .prices__info-swiper {
            display: flex;
            flex-direction: row;
        }
        .prices__info-left-swiper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            flex: 1 1 50%;
        }
        .prices__info-left-swiper-first{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            margin: 0 0 1.5rem 0;
        }
        .prices__info-left-swiper-second{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            margin: 0 0 0 0;
        }
        .prices__price-swiper {
            color: #7E7E82;
        }
        .prices__working-time-swiper {
            color: #7E7E82;
        }
        .prices__info-right-swiper {
            display: flex;
        }
        .prices__btn-order-swiper {
            position: relative;
            font-weight: 800;
            margin: 0 0 0 0;
            justify-content: center;
            align-self: flex-end;
            width: 120px;
            background-color: #FF3E79;
            border-radius: 20px;
            padding: 0.5rem;
            color: white;
            text-transform: uppercase;
            font-size: 12px;
            text-align: left;
        }
        .prices__btn-order-swiper::after{
            content: url(../img/dropdown.svg);
            position: absolute;
            right:14px;
            bottom: 7px;
        }
        .prices__post-info{
            margin: 2rem 0 0 0rem;
            text-align: left;
        }
        .prices__promo-agreement{
            margin: 0 0 1rem 0;

        }
        .prices__btn-get-offer{
            position: relative;
            font-size: 16px;
            font-weight: 800;
            color: #1B1C21;
        }
        .prices__btn-get-offer::after {
            content:url(../img/Line.svg);
            right: -0.9rem;
            bottom: 0;
            position: absolute;
            
        }
    }
    