/*    SWIPER REPAIR \ REPAIR   */
@import './style.scss';

.repair {
	display: flex;
	flex-direction: column;
	margin: 1rem 35px 0 35px;
	}


.repair__title {
	text-transform: uppercase;
	font-weight: 400;
	color: #7E7E82;
	
}

.repair__container {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.swiper-container {}

.repair__list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;


}
@media (min-width:1187px) {
	.repair__list{
		display: flex;
	align-items: center;
	justify-content: space-evenly;
	}
}

@media (max-width:911.98px) {
	.repair__list {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 1rem;
	}
}

.swiper-wrapper {}

.repair__list  .swiper-slide{
	max-width: 240px;
	min-width: 240px;
}

.repair__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #FFFFFF;
	max-width: 240px;
	min-height: 160px;
	padding: 1rem;
	margin: 2rem 0 0 0;
}
@media (min-width:911.98px) {
	.repair__item:last-child{
	display: none;
	}
}
@media (min-width:1187px) {
	.repair__item {
		display: flex;
	}
	.repair__item:last-child{
		display: flex;
		}
}


.repair__item:not(:last-child) {

	
}

.swiper-slide {}

.repair__text {}

.repair__button-item {
	align-self: flex-end;
}

.btn-swiper {}

.repair__buttons-container {
	margin: 2rem 0 1rem 0;
	display: flex;
	position: relative;
}

@media (max-width: 911.98px) {
	.repair__buttons-container {
		display: none;
	}
}
@media (min-width:1187px) {
	.repair__buttons-container {
		display: none;
	}
}
/*
.repair__buttons-container::before {
	content: url('../img/strelochki.svg');
	display: block;
	position: absolute;
}
*/
.repair__btn--more {
	position: relative;
	display: block;
	margin: 0 0 0 2rem;
}

.repair__btn--more::before {
	content: url('../img/strelochki.svg');
	display: inherit;
	position: absolute;
	top: 0;
	left: -2rem;
	
}

.repair__btn--less {
	position: relative;
	display: none;
	margin: 0 0 0 2rem;
}
.repair__btn--less::before {
	content: url('../img/strelochki.svg');
	transform: rotate(180deg);
	display: inherit;
	position: absolute;
	top: 0;
	left: -2rem;
}